<nav class="navbar sticky-top navbar-expand-lg navbar-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" (click)="rightAligned.toggle()"
            aria-controls="navbarRightAlignExample" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarRightAlignExample" mdbCollapse #rightAligned="mdbCollapse">
            <!-- Left links -->
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Projects</a>
                </li>
            </ul>
            <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>

<div class="container-fluid py-5 d-flex justify-content-center">
    <div class="row d-flex justify-content-center align-items-center" style="width: 100%;">
        <div class="col-lg-6 d-flex flex-column align-items-center">
            <p id="nameArea">Juan Morales</p>
            <p id="devTitle">WEB DEVELOPER</p>
        </div>
        <div class="col-lg-6 d-flex justify-content-center align-items-center">
            <img src="../../../assets/images/Akali1.jpg" class="img-fluid rounded" alt="">
        </div>
    </div>
</div>

<div class="container-fluid py-5 d-flex justify-content-center align-items-center flex-column" style="background-color: white;">
    <div class="row pb-5 d-flex justify-content-center align-items-center">
        <div class="col-lg-4">
            <img src="../../../assets/images/pool1.jpg" alt="..." class="img-fluid" />
        </div>
        <div class="col-lg-4">
            <div class="row">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                    This is a wider card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.
                </p>
                <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </p>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-lg-3">
            <div class="card">
                <img src="https://mdbootstrap.com/img/new/standard/nature/184.jpg" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                    </p>
                    <a href="#!" class="btn btn-primary">Button</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <img src="https://mdbootstrap.com/img/new/standard/nature/184.jpg" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                    </p>
                    <a href="#!" class="btn btn-primary">Button</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <img src="https://mdbootstrap.com/img/new/standard/nature/184.jpg" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                    </p>
                    <a href="#!" class="btn btn-primary">Button</a>
                </div>
            </div>
        </div>
    </div>
</div>