p {
  color: white;
}
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@media screen and (min-width: 601px) {
  p#nameArea {
    font-family: "Raleway", sans-serif;
    font-size: 55px;
  }
  p#devTitle {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  p#nameArea {
    font-family: "Raleway", sans-serif;
    font-size: 38px;
  }
  p#devTitle {
    font-family: "Raleway", sans-serif;
    font-size: 24px;
  }
}

nav {
  background-color: #2c2c2c;
  color: white;
  .navbar-toggler {
    color: white;
  }
  .nav-link {
    color: white;
    cursor: pointer;
    font-family: "Raleway", sans-serif;
    font-size: 22px;
  }
}

.list-group-item{
  background-color: transparent;
  border-color: white;
}

.card-title {
  color: #4e4e4e;
}

.card-text {
  color: #4e4e4e;
}

.sectionTitles{
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 44px;
}

i {
  // color: #2c2c2c;
  color: white;
}

.iconColor{
  color: #2c2c2c;
}

#homeArea{
  display: inline-block;
  // font-family: Arial, Helvetica, sans-serif;
  // font-size: 150px;
  // color: black;
  animation: fadeIn ease-in 2s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}